.rb-1 {
    cursor:pointer;
    display: inline-flex;
    padding: 0px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(120, 119, 131, 1) 0%, rgba(173, 173, 173, 1) 35%, rgba(131, 194, 195, 1) 73%, rgba(81, 196, 219, 1) 100%);
    object-fit: contain;
    background-size: contain;
    color: #fff;
    align-items: center;
    margin:10px;
  }

  .l-box-2::before {
    content: " ";
    height: 100%;
    border-left: solid 1px #fefefe;
    margin-right: 10px;
  }

  .l-box-2 {
    margin: 10px;
  }

  .r-box-2 {
    margin-left: 15px;
    cursor: pointer;
    user-select: none;
  }

  .pbtn-p {
    transform: rotate(-90deg);
  }
